@import "~bootstrap/scss/bootstrap";

body {
  background-color: #EDF2F7;
}

header {
  height: 70px;
}

main {
  margin: 90px 100px;
}

footer {
  height: 250px;
}

.front_modal {
  background-color: #F7F7F7;
}
